<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Base CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">

        <style>
            /*
              Allow angular.js to be loaded in body, hiding cloaked elements until
              templates compile.  The !important is important given that there may be
              other selectors that are more specific or come later and might alter display.
             */
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-controller="WebCastCtrl">
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        <!-- Base Js -->
        <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/angular-animate/angular-animate.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
