{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h3>
                Webcast User Mover
            </h3>
            <p>Move users from <em>live.grantcardonetv.com</em> to <em>grantcardonetv.com</em> while keeping their webcast group association and full user data including passwords.</p>

            <fieldset ng-disabled="isAjax">
                <form role="form" name="form">
                    <div class="form-group">
                        <label for="groupID">
                            Group
                        </label>
                        <select class="form-control" id="groupID" ng-init="groupID = 0" ng-model="groupID" ng-required="true">
                            {% for group in groups %}
                                <option value="{{ group.groupId }}" ng-cloak>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="width: 49%; float: left;">
                        <label for="offset">
                            From Record (Start Record)
                        </label>
                        <input type="number" class="form-control" id="offset" ng-model="offset" ng-required="true"/>
                    </div>
                    <div class="form-group" style="width: 49%; float: right;">
                        <label for="total">
                            To Record (Total Records)
                        </label>
                        <input type="number" class="form-control" id="total" ng-model="total" ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="quantity">
                            Record Quantity
                        </label>
                        <input type="number" class="form-control" id="quantity" ng-model="quantity" ng-required="true"/>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="heartbeat(); moveUsers(0)">
                        <i class="fa fa-spinner fa-pulse" ng-show="isAjax" ng-cloak></i> Submit
                    </button>
                </form>
            </fieldset>

            <div ng-show="stats">
                <h3 ng-cloak>
                    Processing {{ '{{ offset }}' }} to {{ '{{ offset + quantity }}' }} records...
                </h3>

                <div class="progress" ng-cloak>
                    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{ '{{ progress_moved }}' }}%; min-width: 2em;">
                        {{ '{{ progress_moved }}' }}%
                    </div>
                    <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{ '{{ progress_exist }}' }}%; min-width: 2em;">
                        {{ '{{ progress_exist }}' }}%
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{ '{{ progress_ignored }}' }}%; min-width: 2em;">
                        {{ '{{ progress_ignored }}' }}%
                    </div>
                    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{ '{{ progress_errors }}' }}%; min-width: 2em;">
                        {{ '{{ progress_errors }}' }}%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>
                Results
            </h3>

            <div ng-repeat="exec in execs" id="execs" ng-cloak>
                <p><b>Processed {{ '{{ exec.offset }}' }} to {{ '{{ exec.offset + exec.quantity }}' }} records... {{ '{{ Date.now() | date:"dd.MM.yyyy HH:mm:ss" }}' }}</b></p>
                <p>moved: {{ '{{ exec.moved }}' }}, exist: {{ '{{ exec.exist }}' }}, ignored: {{ '{{ exec.ignored }}' }}, errors: {{ '{{ exec.errors }}' }}</p>
            </div>
        </div>
    </div>
{% endblock %}